
<body>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic btn"><h4>ORDERS</h4></div>
           
          </div>
         
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic btn "><h4>PRODUCTS</h4></div>
            
          </div>
         
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic btn "><h4>BRAND</h4></div>
           
          </div>
          
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic btn "><h4>CATEGORIES</h4></div>
           
          </div>
          
        </div>
      </div>

      <div style="width:40%;margin-top:5%;margin-left:30%;">
        <canvas style="width:100%; " id="myChart"></canvas>
      </div>
     
    </div>
   
  </section> 



  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>


<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['user', 'Placed', 'Shipped', 'Delivered'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</body>

</html>

