
  <div class="applybg">
    <div class="container mt-5">
      <div class="row ">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left-point d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5"> OTP VERIFY</h5>
              <form action="/otpverify" method="post">
  
                <div class="form-floating mb-3">
                    <input class="input100" type="text" name="otp" id="otp" placeholder="enter the otp">
                 
                </div>

  
                
  
                <div class="d-grid mb-2">
                  <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Verify</button>
                </div>
  
               
  
                
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
