
<div class="container product">
    <a class="btn btn-primary  mb-4" href="/admin/addproduct" role="button">Add Product</a>
<table class="table table-success table-striped">
    <thead>
        <tr>
          <th scope="col">NO.</th>
          <th scope="col">Product Name</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
  </table>
</div>